* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Catamaran', Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: antiquewhite;
	line-height: 1.5;
	background: darkgrey;
}

img {
	max-width: 100%;
}

h1,
h2 {
	margin-bottom: 15px;
	font-family: 'Oswald', Arial, sans-serif;
}

ul {
	list-style-type: none;
}

a {
	color: antiquewhite;
	text-decoration: none;
}

a:hover {
	color: skyblue;
}

p{
margin: 0 0 10px 0; 
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 30px;
}

.navbar {
	background: black;
	font-family: 'Oswald', Arial, sans-serif;
	color: antiquewhite;
	height: 60px;
}

.navbar .logo {
	font-size: x-large;
	color: antiquewhite;
	font-weight: bold;
}

.navbar a {
	color: palegreen;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
}

.navbar a:hover {
	color: skyblue;
}

.navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.navbar ul {
	display: flex;
}

.navbar ul li {
	margin-left: 20px;
}

.header {
	background-color: #2e2e2e;
	color: floralwhite;
	min-height: 400px;
}

.header h1 {
	font-size: 2.5em;
	font-weight: bold;
	line-height: 1.2;
}

.header img {
	max-width: 400px;
	padding: 20px;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.boxes .container {
	display: flex;
	justify-content: space-between;
}

.box {
	flex: 1;
	background: salmon;
	border-radius: 10px;
	margin: 20px 10px;
	padding: 15px 20px;
	box-shadow: 0 3px 5px #3e3e3e;
}

@media (max-width: 768px) {
	.header .container {
		flex-direction: column;
		text-align: center;
		padding-top: 20px;
	}

	.boxes .container {
		display: block;
		text-align: center;
	}
}

footer {
	position: relative;
	height: 300px;
	width: 100%;
	margin-top: 25px;
	background-color: #423338;
}

p.copyright {
	position: absolute;
	width: 100%;
	color: #fff;
	line-height: 40px;
	font-size: 0.7em;
	text-align: center;
	bottom:0;
}